.section.section--gallery {
  margin-bottom: 100px;

  @include on-desktop {
    margin-bottom: 200px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 30px;
  }

  @include on-desktop {
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }

  &__item {
    grid-column: span 4;

    &:nth-child(2),
    &:nth-child(3) {
      @include on-desktop {
        grid-column: span 8;
      }
    }
  }

  &__item img {
    width: 100%;
    
    @include hover(transform, scale(1.05));
  }
}
