.section.section--hero {
  grid-template-areas: 'info banner';
  margin-top: -70px;
  margin-bottom: 200px;
}

.hero {
  &__info {
    grid-area: info;
    grid-column: span 5;

    display: flex;
    align-items: center;
    flex-flow: column wrap;

    justify-content: center;
  }

  &__banner {
    grid-area: banner;
    grid-column: span 7;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 72px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__button {
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px solid #1a5a4c;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;

    span {
      height: 70px;
      width: 200px;
      font-weight: 500;
      color: #0f0e08;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-right {
      display: flex;
      width: 70px;
      height: 70px;
      background-color: #1a5a4c;
      align-items: center;
      justify-content: center;
    }
  }
}
