$c-gray: #eee;
$effect-duration: 300ms;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$desktop-wide-min-width: 1440px;
$tomato: #f14a27;
$ff-monserrat: Montserrat, sans-serif;
$ff-ibm: 'IBM Plex Sans', sans-serif;
$dark-grey: #0f0e08;
$color-white: #fff;
